<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="KafkaAppender" type="Divv.Log4Net.Kafka.KafkaAppender, Divv.Log4Net.Kafka">
    <KafkaSettings>
      <brokers>
        <add value="kafka-broker-1:9092" />
        <add value="kafka-broker-2:9092" />
      </brokers>
      <topic type="log4net.Layout.PatternLayout">
        <conversionPattern value="erp.shgt.logs" />
      </topic>
    </KafkaSettings>

    <layout type="Divv.Log4Net.Json.JsonLayout, Divv.Log4Net.Json" >
      <app value="erp.logs" />
      <tags value="seachange,traxis" />
      <callcontextvariables value="question,answer" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <threshold value="INFO" />
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{ABSOLUTE}Z %-5level %-40.40logger{1} %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="KafkaAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>